@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
    background: #ffffff;
}

.mobile-menu {
    display: none;
}

/* Navbar */
.navbar-wrapper {
    border-bottom: 1px solid #D9D9D9;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 16px 8px;

    margin-inline: 25px;
}

.navbar .logo {
    height: 35px;
}

.hamburger-btn {
    display: none;
}

.navbar nav {
    display: flex;
    gap: 8px;
    width: 100%;
    justify-content: flex-end;
}

.nav-menu {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 81px;
    height: 32px;
    padding: 8px;
    gap: 8px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: #1E1E1E;
    text-decoration: none;

    border-radius: 8px;
}

.nav-menu.active {
    background: #F5F5F5;
}

/* Search */
.search-wrapper {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    margin-inline: 25px;
}

.search-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 720px;
    min-width: 360px;
    max-width: 720px;
    height: 56px;
    padding: 0px;
    gap: 4px;

    background: #F2F2F7;
    border-radius: 28px;
}

.search-container input {
    display: flex;
    align-items: center;
    width: 720px;
    height: 56px;
    padding-left: 45px;
    gap: 4px;
    border: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #49454F;

    background: transparent;
}

.search-container input::placeholder {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #49454F;
}

input:focus {
    outline: none;
}

.search-btn {
    position: absolute;
    right: 5px;
    width: 48px;
    height: 48px;

    background: none;
    border: none;
    cursor: pointer;
}

/*Grid de cards*/
.grid-pokemon {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    margin-inline: 25px;
}

/* card */
.card {
    padding: 20px 10px;
    text-align: center;

    background: #f0f3ff;
    border-radius: 8px;
    
    transition: .2s;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.03);
}

.card .info-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.card .info-top .type {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 12px;
    color: #11B047;
}

.card .info-top .id {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 17px;
    color: #263156;
}

.card .image-container img {
    width: 90%;
    max-width: 143px;
}

.card .image-container .name {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    color: #212E4C;
    
    padding-bottom: 35px;
}

/* Paginação */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin: 100px 0 50px;
}

.pagination button {
    background: none;
    border: none;
    color: #666;
    font-size: 14px;
    cursor: pointer;

    display: flex;
    align-items: center;
    gap: 10px;
}

.pagination button:disabled {
    opacity: .4;
    cursor: default;
}

.page {
    padding: 6px 12px;
    border-radius: 8px;
    background: #e6e9f0;
    cursor: pointer;
}

.page.active {
    background: #2c2c2c;
    color: #fff;
}


@media (max-width: 1024px) {
    .search-container {
        width: 100%;
        min-width: 0;
    }
    .grid-pokemon {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
    }
}

@media (max-width: 768px) {
    .grid-pokemon {
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    }

    .search-container input {
        width: 100%;
        padding-left: 18px;
    }

    /*botão hamburguer*/
    .hamburger-btn {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        width: 28px;
        height: 22px;

        background: none;
        border: none;
        cursor: pointer;
    }

    .hamburger-btn div {
        width: 100%;
        height: 3px;
        background: #1E1E1E;
        border-radius: 4px;
    }

    .navbar nav {
        display: none;
    }

    /*overlay menu mobile*/
    .mobile-menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0,0,0,0.4);
        opacity: 0;
        visibility: hidden;
        transition: .25s;
        z-index: 8;
    }

    .mobile-menu-overlay.active {
        opacity: 1;
        visibility: visible;
    }

    /*Modal lateral*/
    .mobile-menu {
        position: fixed;
        left: -50%;
        top: 0;
        width: 50%;
        height: 100vh;

        background: #fff;
        padding: 20px;

        box-shadow: 2px 0 15px rgba(0,0,0,0.1);

        display: flex;
        flex-direction: column;
        gap: 20px;

        transition: .25s;
        z-index: 9;
    }

    .mobile-menu.active {
        left: 0;
    }

    .mobile-menu .close-menu {
        align-self: flex-end;

        background: none;
        border: none;
        font-size: 32px;
        cursor: pointer;
    }

    .mobile-nav {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .mobile-nav .nav-menu {
        width: 100%;
    }

}

@media (max-width: 480px) {
    .page:not(.active) {
        display: none;
    }
}
